<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ospicon Systems </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    
    <!-- Custom Theme Style -->
    <link href="/Webpages/css/custom.css" rel="stylesheet">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body class="nav-md">
  <div class="container body">
      <div class="main_container">
          <div class="col-md-3 left_col">
              <div class="left_col scroll-view">
                  <div class="navbar nav_title" style="border: 0;">
                      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Ospicon Systems</span></a>
                  </div>

                  <div class="clearfix"></div>

                  <!-- menu profile quick info -->
                  <div class="profile">
                      <div class="profile_pic">
                          <img src="../Webpages/images/img.jpg" alt="..." class="img-circle profile_img">
                      </div>
                      <div class="profile_info">
                          <span>Welcome,</span>
                          <h2>Dr Peter Leong</h2>
                      </div>
                  </div>
                  <!-- /menu profile quick info -->

                  <br />

                  <!-- sidebar menu -->
                  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                      <div class="menu_section">
                          <h3>General</h3>
                          <ul class="nav side-menu">
                              <li><a><i class="fa fa-home"></i> Dashboard </a>
                              </li>

                              <li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                                  <ul class="nav child_menu">
                                      <li><a href="form.html">Medical Leave Form</a>
                                      </li>
                                      <li><a href="form_advanced.html">Speacial Care Treatment</a>
                                      </li>
                                      <li><a href="form_validation.html">Transfered Patients</a>
                                      </li>
                                  </ul>
                              </li>

                              <li><a><i class="fa fa-table"></i> Schedule <span class="fa fa-chevron-down"></span></a>
                                  <ul class="nav child_menu">
                                      <li><a href="tables.html">Patient Consultations</a>
                                      </li>
                                      <li><a href="tables_dynamic.html">Community Meeting</a>
                                      </li>
                                  </ul>
                              </li>
                              <li><a><i class="fa fa-bar-chart-o"></i> About Us </a>
                              </li>
                          </ul>
                      </div>


                  </div>
                  <!-- /sidebar menu -->


              </div>
          </div>

          <!-- top navigation -->
          <div class="top_nav">

              <div class="nav_menu">
                  <nav class="" role="navigation">
                      <div class="nav toggle">
                          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                      </div>

                      <ul class="nav navbar-nav navbar-right">
                          <li class="">
                              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <img src="../Webpages/images/img.jpg" alt="">Dr Peter Leong
                                  <span class=" fa fa-angle-down"></span>
                              </a>
                              <ul class="dropdown-menu dropdown-usermenu pull-right">
                                  <li><a href="javascript:;">  Profile</a>
                                  </li>
                                  <li>
                                      <a href="javascript:;">
                                          <span class="badge bg-red pull-right">50%</span>
                                          <span>Settings</span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="javascript:;">Help</a>
                                  </li>
                                  <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                  </li>
                              </ul>
                          </li>



                      </ul>
                  </nav>
              </div>

          </div>
          <!-- /top navigation -->
        <div class="right_col" role="main">
      <div class="">

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Patients Under You Care </h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p class="text-muted font-13 m-b-30">

                  </p>
                    <li><a href="/patientView/25">Next Page</a></li>

         <table id="patientsTable" class="table table-striped table-bordered">
            <thead>
              <tr class='clickable-row' data-href='/Ospicon_Project/Webpages/Ospicon_Patients%20Reading%20Charts.html?_ijt=p3qfvj5sr1hko4gi8nhlov158e'>
                <th width="5%"> Patient ID </th>
                <th width="20%"> Patient Name </th>
                <th width="10%"> Patient NRIC </th>
                  <th width="10%"> Systolic </th>
                  <th width="10%"> Diostolic </th>
                  <th width="10%"> Heartbeat </th>
              </tr>
            </thead>
         </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
      </div>



    <style>
    .cont
    {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
    <!-- jQuery -->
    <script src="../Webpages/js/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="../vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- morris.js -->
    <script src="../vendors/raphael/raphael.min.js"></script>
    <script src="../vendors/morris.js/morris.min.js"></script>
    <!-- gauge.js -->
    <script src="../vendors/bernii/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- Skycons -->
    <script src="../vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../vendors/Flot/jquery.flot.js"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../Webpages/js/flot/jquery.flot.orderBars.js"></script>
    <script src="../Webpages/js/flot/date.js"></script>
    <script src="../Webpages/js/flot/jquery.flot.spline.js"></script>
    <script src="../Webpages/js/flot/curvedLines.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../Webpages/js/moment/moment.min.js"></script>
    <script src="../Webpages/js/datepicker/daterangepicker.js"></script>
    <!-- DataTable function -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../Webpages/js/custom.js"></script>
 
    <script>
      $(document).ready(function() 
      {
        $('#patientsTable').DataTable({
          "ajax":"js/patients detail/pdata.json",
          "columns":
          [
            {"data":"pid"},
            {"data":"pname"},
            {"data":"pnric"},
            {"data":"psys"},
            {"data":"pdio"},
            {"data":"phb"}

          ]
        });
      });


//      jQuery(document).ready(function($){
//          $('.rowLink').click(function () {
//              window.location.href = $(this).data('/Ospicon_Patients Reading Charts.ejs');
//          });
//      });
        $(function () {
            $('.clickable-row').click(function () {
                window.location.href = $(this).data("href");
            });
        });



    </script>


  </body>
</html>